:root {
  --dark-color: #19283f;
  --link-color: #00c6bf;
  --red-color: #ff3150;
  --btn-text-color: #ffc501;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

/* start components */
.main-btn {
  background-color: var(--red-color);
  color: var(--btn-text-color);
  padding: 0.5rem 1rem;
}



.main-btn:hover {
  background-color: var(--btn-text-color);
  color: var(--red-color);
}

/* end components */

/* start navbar */
.navbar {
  background-color: var(--dark-color);
  .container > div > ul li a {
    color: white;
  }
  .container > div > ul li a.active,
  .container > div > ul li a:hover,
  .container > div > ul li a:focus {
    color: var(--link-color);
  }

  .container .navbar-toggler {
    color: white;
    border-color: white;
    font-size: 25px;
  }

  .container .navbar-toggler:focus {
    box-shadow: none;
  }
}

.search {
  color: var(--link-color);
  border-left: solid 1px var(--link-color);
  svg {
    cursor: pointer;
  }
}
/* end navbar */

/* start landing */
section.landaing {
  background-color: var(--dark-color);
  min-height: calc(100vh - 72px);
}
/* end landing */
